{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h3>About Us </h3>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="http://placehold.it/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Ian Rankin</h4>

                    <p>
                        <small>Chairman</small>
                    </p>
                    <p>Ian has a long and distinguished career in industry. He has worked with the Samaritans. He is now
                        passionate about getting Londoner's to smile more.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="http://placehold.it/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Lord P.</h4>

                    <p>
                        <small>Potential Trustee</small>
                    </p>
                    <p>Short Bio</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="http://placehold.it/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Lord G.</h4>

                    <p>
                        <small>Potential Trustee</small>
                    </p>
                    <p>Short Bio</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}