{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h3>About Us </h3>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="/static/img/Rankin.jpg">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Ian Rankin</h4>

                    <p>
                        <small>Chairman</small>
                    </p>
                    <p>Sir Ian Niall Rankin FRGS (Fellow of the Royal Geographical Society), is an investor and
                        industrialist with extensive business activities in the United Kingdom ranging across many
                        interests and activities. After preparatory education at Eton and military service as a Scots
                        Guards officer, Sir Ian graduated from Christ Church College at Oxford University.  </p>

                    <p>Sir Ian worked as a journalist and writer for several years with material appearing in various
                        periodicals including the Sunday Times, Observer, News Chronicle, Country Life and as
                        advertising copy writer at Colman Prentis &amp; Varley, and S.H. Benson.  In 2004 he published a
                        book called &ldquo;Doomsday Just Ahead&rdquo;. Sir Ian founded, managed, and invested in
                        companies in various industries including textiles, opticals, oil and gas exploration and
                        production, temporary employment services, and industrial and consumer safety equipment. He has
                        served as Chairman and Director of several public and private companies including Highgate
                        Optical &amp; Industrial Ltd., B.S. Group Plc., Lindsay &amp; Williams Ltd., Bayfine Ltd.,
                        Content Beheer,  Slumberfleece Ltd., I. N. Rankin Sales, and Active Health Partners. Sir Ian is
                        the majority shareholder in I. N. Rankin Oil Ltd as well as director and chairman of the
                        company.  He supports charities such as the Council of Alexandra Rose Day, act as patron of the
                        Samaritans and Governor of Moorfield Eye Hospital.</p>

                    <p>He is now passionate about getting Londoner's to smile more.</p>

                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="http://placehold.it/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Lord P.</h4>

                    <p>
                        <small>Potential Trustee</small>
                    </p>
                    <p>Short Bio</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="http://placehold.it/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Lord G.</h4>

                    <p>
                        <small>Potential Trustee</small>
                    </p>
                    <p>Short Bio</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" data-src="holder.js/64x64" src="http://placehold.it/100x100">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Sir JL</h4>

                    <p>
                        <small>Potential Trustee</small>
                    </p>
                    <p>Short Bio</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}