
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>London smiles campaign</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Get London smiling campagin">
    <meta name="author" content="Ian Rankin">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">London Smiles</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active" ><a href="/" id="home">Home</a></li>
                <li><a href="/smiles" id="smiles">Smiles</a></li>
                <li><a href="/campaigns" id="campaigns">Campaigns</a></li>
              <!--  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Smiles <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
                <li><a href="/aboutus" id="aboutus">About Us</a></li>
                <li><a href="/donate" id="donate">Donate</a></li>
                <li><a href="/contactus" id="contactus">Contact Us</a></li>
                <li><a href="/blog" id="blog">Blog</a></li>
                <li><a href="/news" id="news">News</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->

              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <div class="container">
      <br/><br/>
      <div class="row-fluid">
        <div class="span12">
          <div id="myCarousel" class="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
            <li data-target="#myCarousel" data-slide-to="6"></li>
            <li data-target="#myCarousel" data-slide-to="7"></li>
            <li data-target="#myCarousel" data-slide-to="8"></li>
            <li data-target="#myCarousel" data-slide-to="9"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
                    <img src="/static/img/caraousel/large_129649817.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Smiling Makes Us all Happier</h4>
                    </div>
            </div>
            <div class="item">
                  <img src="/static/img/caraousel/large_4092888036.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>A smile is happiness you'll find right under your nose. - Tom Wilson</h4>
                    </div>
            </div>
           <div class="item">
                    <img src="/static/img/caraousel/large_306544429.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>A smile is the universal welcome - Max Eastman</h4>
                    </div>
            </div>
             <div class="item">
                    <img src="/static/img/caraousel/origin_2281588072.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Smile, it's free therapy - Douglas Horton </h4>
                    </div>
            </div>
             <div class="item">
                    <img src="/static/img/caraousel/origin_4246570737.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Colors are the smiles of nature - Leigh Hunt</h4>
                    </div>
            </div>
             <div class="item">
                    <img src="/static/img/caraousel/large_8108842042.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Peace begins with a smile - Mother Teresa </h4>
                    </div>
            </div>
            <div class="item">
                    <img src="/static/img/caraousel/large_4623811529.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Everyone smiles in the same language.</h4>
                    </div>
            </div>
            <div class="item">
                    <img src="/static/img/caraousel/large_6055437609.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Everyone looks so much better when they smile - Jimmy Fallon</h4>
                    </div>
            </div>
             <div class="item">
                    <img src="/static/img/caraousel/large_5091703712.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>A smile is a curve that sets everything straight - Phyllis Diller</h4>
                    </div>
            </div>
             <div class="item">
                    <img src="/static/img/caraousel/large_5618409285.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>The world always looks brighter from behind a smile.</h4>
                    </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
  </div><!-- row >
      <!-- Three columns of text below the carousel -->


      <!-- /END THE FEATURETTES -->

      {%block content%}

      {%endblock %}
        <!-- FOOTER -->

        <hr/>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 drummonds.net &middot; <a href="/legal">Legal</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script>
        $(function(){
          // carousel demo
          $('#myCarousel').carousel();

         var path = window.location.pathname.split("/")[1];
         $("ul.nav li").removeClass("active");
         if (path === "")
          $("#home").parent().addClass("active");
          else
          $("#"+path).parent().addClass("active");
        });
    </script>
        {%block extrascript%}
        {% endblock %}
  </body>
</html>
