{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span8">
        <h3>Donate</h3>
        <p>Now I need your help. I want to make this project bigger and more effective, by taking
more advertising like this above. Please will anybody who believes London needs
more happiness, contribute to our next advertisements:
<a href="www.londonsmilecampaiqn.com" target="_blank">www.londonsmilecampaiqn.com</a>.</p>
 <p>Funds received beyond our advertising needs will
go to The Samaritans.</p>
<p>Donations should be sent to: </p>
<address>
<strong>The Trustees,</strong><br/>
The London Smile Campaign<br/>
97,Elgin Avenue, London W9 2DA
</address>
<p>Trustees: Lord P, Lord G, Sir JL, Sir Ian Rankin</p>
    </div>
    <div class="span4">
        <blockquote>
        <p>Smiling is infectious You catch it like the 'flu.
            When someone smiled at me today I started smiling too.</p>
            <br/>
            <p>I passed around the corner
            And someone saw my grin,
            And when he smiled I realized
            I'd passed it on to him.</p>
            <br/>
            <p>I thought about that smile
            Then realized its worth,
            A single smile, just like mine,
            Could travel round the earth.</p>
            <br/>
             <p>So, if you feel a smile begin,
            Don't leave it undetected,
            Let's start an epidemic quick
            And get the world infected!</p>
            <br/>
            Keep the smile going by sending this on to a friend..
            Everyone needs a smile!
        </blockquote>
    </div>
</div>
{% endblock %}