{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <h3>The London Smile Campaign</h3>

            <p>I wonder how many of you do what I do. I walk along the streets of London trying to make people smile. I
                do this by looking at people with a cheerful expression on my face, and giving them a gentle smile (not
                a grin; not a grimace). I reckon some 10% of passers-by smile back. This gives me a great feeling of
                pleasant satisfaction; it also gives them, I am assured, a feeling of happiness.</p>

            <p>Your first thoughts might be "This is childish and ridiculous". But is it? If we could get 20% or more of
                passers-by exchanging this type of friendly greeting, we could alter the entire emotional atmosphere of
                London, for the better. Why don't you give it a go - join the London Smile Campaign, and make yourself
                and others happier.
                Ian Niall Rankin</p>
            <hr/>
        </div>
        <div class="span4">
            <blockquote>
                <p>Smiling is infectious You catch it like the 'flu.
                    When someone smiled at me today I started smiling too.</p>
                <br/>

                <p>I passed around the corner
                    And someone saw my grin,
                    And when he smiled I realized
                    I'd passed it on to him.</p>
                <br/>

                <p>I thought about that smile
                    Then realized its worth,
                    A single smile, just like mine,
                    Could travel round the earth.</p>
                <br/>

                <p>So, if you feel a smile begin,
                    Don't leave it undetected,
                    Let's start an epidemic quick
                    And get the world infected!</p>
                <br/>
                Keep the smile going by sending this on to a friend..
                Everyone needs a smile!
            </blockquote>

        </div>
    </div>

{% endblock %}