{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h3>Legal</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tempor scelerisque metus ut blandit. Nullam vehicula pellentesque massa, ac elementum libero molestie eget. Integer id massa vitae nibh tempor porta nec vel orci. Vivamus lorem enim, commodo vel hendrerit eget, gravida sit amet neque. Proin cursus consequat nibh id tincidunt. Duis lacinia, sem vel varius posuere, tellus ligula pretium elit, scelerisque laoreet lorem erat quis nisi. Praesent vehicula auctor quam, eget gravida metus egestas eget. Curabitur hendrerit lacus quis est pulvinar tempor.</p>

<p>In sit amet orci mi. Duis quis leo ac mi egestas cursus. Praesent nec massa nibh, posuere sollicitudin nisi. Mauris ut odio tortor, id suscipit libero. Duis tempor varius varius. Vestibulum vitae lobortis arcu. Pellentesque suscipit odio ut nisl tempus eget euismod tortor pellentesque. Etiam a erat nisi. Aenean orci lacus, feugiat sit amet hendrerit a, bibendum ac tortor. Nam elit mi, tristique nec volutpat in, fermentum commodo metus. Quisque feugiat auctor dolor, non convallis dui varius non. Proin sed nisi in quam commodo dapibus. Etiam bibendum nulla sit amet lectus aliquam sit amet egestas velit aliquet. Quisque mattis mauris sed purus hendrerit malesuada. Aenean ac nunc id velit laoreet scelerisque vel vitae dolor.</p>

<h3>Photos Credits</h3>
<p>1. <a href="http://www.flickr.com/photos/gazeronly/129649817/">torbakhopper</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

<p>2. <a href="http://www.flickr.com/photos/sharonkearns/4092888036/">~SharonLynn~</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a></p>

<p>3. <a href="http://www.flickr.com/photos/zanotti/306544429/">Reportergimmi</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

<p>4. <a href="http://www.flickr.com/photos/olivireland/2281588072/">OlivIreland</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a></p>

<p>5. <a href="http://www.flickr.com/photos/eflon/4246570737/">eflon</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

<p>6. <a href="http://www.flickr.com/photos/kyrre_gjerstad/8108842042/">Kyrre Gjerstad</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

<p>7. <a href="http://www.flickr.com/photos/pinksherbet/4623811529/">Pink Sherbet Photography</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

<p>8. <a href="http://www.flickr.com/photos/safari_vacation/6055437609/">SalFalko</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a></p>

<p>9. <a href="http://www.flickr.com/photos/calleephoto/5091703712/">KaylaKandzorra</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

<p>10. <a href="http://www.flickr.com/photos/ghbremer/5618409285/">g.bremer *on hiatus again*</a> via <a href="http://photopin.com">photopin</a> <a href="http://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a></p>
    </div>
</div>
{% endblock %}