{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span8">
            <h3>Smiles</h3>

            <p>
                In Wikipedia a <b>smile</b> is a <a href="/wiki/Facial_expression" title="Facial expression">facial
                expression</a>
                formed
                by flexing the <a href="/wiki/Muscle" title="Muscle">muscles</a> near both ends of the <a
                    href="/wiki/Human_mouth" title="Human mouth">mouth</a> and by flexing muscles throughout the
                mouth.<sup
                    id="cite_ref-1" class="reference"><a href="#cite_note-1"><span>[</span>1<span>]</span></a></sup>
            </p>
            <h4>Smiling is good for you</h4>

            <p>
                Smiling really does increase attractiveness and likability between humans. In fact, smiling correlates
                with greater trust, greater financial earnings, and increased interpersonal cooperation<sup
                    id="cite_ref-2" class="reference"><a href="#cite_note-2"><span>[</span>2<span>]</span></a></sup>. A
                smile tends to convey respect, patience, empathy,
                hospitality and compassion. Research also
                reports that people receive more help when they smile. Even the smile of a stranger produces more “Good
                Samaritan” effects on the receiver<sup
                    id="cite_ref-3" class="reference"><a href="#cite_note-3"><span>[</span>3<span>]</span></a></sup>.
                When you smile, even memory retrieval of your name is enhanced as
                is shown in neuroscience research<sup
                    id="cite_ref-4" class="reference"><a href="#cite_note-4"><span>[</span>4<span>]</span></a></sup>.
            </p>
            <h4>Top 10 reasons to smile</h4>

            <p>
            <ol>
                <li>It makes you attractive.</li>
                <li>It changes your mood.</li>
                <li>It is contagious.</li>
                <li>It relieves stress.</li>
                <li>It boosts your immune system.</li>
                <li>It lowers your <a class="zem_slink" title="Blood pressure" rel="wikipedia"
                                      href="http://en.wikipedia.org/wiki/Blood_pressure">blood pressure</a>.
                </li>
                <li>It releases <a class="zem_slink" title="Endorphin" rel="wikipedia"
                                   href="http://en.wikipedia.org/wiki/Endorphin">endorphins</a>, natural <a
                        class="zem_slink" title="Analgesic" rel="wikipedia"
                        href="http://en.wikipedia.org/wiki/Analgesic">pain killers</a> and serotonin &#8211; natural
                    antidepressant.
                </li>
                <li>It lifts the face and makes you look younger.</li>
                <li>It makes you seem successful.</li>
                <li>It helps you stay positive.</li>
            </ol>
            </p>

            <div class="reflist references-column-width"
                 style="-moz-column-width: 30em; -webkit-column-width: 30em; column-width: 30em; list-style-type: decimal;">
                <ol class="references">
                    <li id="cite_note-1"><span class="mw-cite-backlink"><b><a href="#cite_ref-1">^</a></b></span> <span
                            class="reference-text"><span class="citation book">Freitas-Magalhães, A.; Castro, E. (2009). "The Neuropsychophysogical Construction of the Human Smile". In Freitas-Magalhães, A. <i>Emotional
                        Expression: The Brain and The Face</i>. Porto: University Fernando Pessoa Press. pp.&#160;1–18. <a
                            href="/wiki/International_Standard_Book_Number" title="International Standard Book Number">ISBN</a>&#160;<a
                            href="/wiki/Special:BookSources/978-989-643-034-4"
                            title="Special:BookSources/978-989-643-034-4">978-989-643-034-4</a>.</span><span
                            title="ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ASmile&amp;rft.atitle=Emotional+Expression%3A+The+Brain+and+The+Face&amp;rft.au=Castro%2C+E.&amp;rft.aufirst=A.&amp;rft.au=Freitas-Magalh%C3%A3es%2C+A.&amp;rft.aulast=Freitas-Magalh%C3%A3es&amp;rft.btitle=The+Neuropsychophysogical+Construction+of+the+Human+Smile&amp;rft.date=2009&amp;rft.genre=bookitem&amp;rft.isbn=978-989-643-034-4&amp;rft.pages=1%E2%80%9318&amp;rft.place=Porto&amp;rft.pub=University+Fernando+Pessoa+Press&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook"
                            class="Z3988"><span style="display:none;">&#160;</span></span></span>
                    </li>
                    <li id="cite_note-2"><span class="mw-cite-backlink"><b><a href="#cite_ref-2">^</a></b></span> <span
                            class="reference-text"><span class="citation journal">Godoy, R.; <i>et al.</i> (2005). "Do smiles have a face value? Panel evidence from Amazonian Indians". <i>Journal
                        of Economic Psychology</i> <b>26</b> (4): 469–490. <a href="/wiki/Digital_object_identifier"
                                                                              title="Digital object identifier">doi</a>:<a
                            rel="nofollow" class="external text" href="http://dx.doi.org/10.1016%2Fj.joep.2004.10.004">10.1016/j.joep.2004.10.004</a>.</span><span
                            title="ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ASmile&amp;rft.atitle=Do+smiles+have+a+face+value%3F+Panel+evidence+from+Amazonian+Indians&amp;rft.au=%27%27et+al.%27%27&amp;rft.aufirst=R.&amp;rft.au=Godoy%2C+R.&amp;rft.aulast=Godoy&amp;rft.date=2005&amp;rft.genre=article&amp;rft_id=info%3Adoi%2F10.1016%2Fj.joep.2004.10.004&amp;rft.issue=4&amp;rft.jtitle=Journal+of+Economic+Psychology&amp;rft.pages=469%E2%80%93490&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.volume=26"
                            class="Z3988"><span style="display:none;">&#160;</span></span></span>
                    </li>
                    <li id="cite_note-3"><span class="mw-cite-backlink"><b><a href="#cite_ref-3">^</a></b></span> <span
                            class="reference-text"><span class="citation journal">Guéguen, N.; De Gaila, Marie‐Agnès (2003). "The effect of smiling on helping behavior: Smiling and good Samaritan behavior". <i>Communication
                        Reports</i> <b>16</b> (2): 133–140. <a href="/wiki/Digital_object_identifier"
                                                               title="Digital object identifier">doi</a>:<a
                            rel="nofollow" class="external text" href="http://dx.doi.org/10.1080%2F08934210309384496">10.1080/08934210309384496</a>.</span><span
                            title="ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ASmile&amp;rft.atitle=The+effect+of+smiling+on+helping+behavior%3A+Smiling+and+good+Samaritan+behavior&amp;rft.au=De+Gaila%2C+Marie%E2%80%90Agn%C3%A8s&amp;rft.aufirst=N.&amp;rft.au=Gu%C3%A9guen%2C+N.&amp;rft.aulast=Gu%C3%A9guen&amp;rft.date=2003&amp;rft.genre=article&amp;rft_id=info%3Adoi%2F10.1080%2F08934210309384496&amp;rft.issue=2&amp;rft.jtitle=Communication+Reports&amp;rft.pages=133%E2%80%93140&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.volume=16"
                            class="Z3988"><span style="display:none;">&#160;</span></span></span>
                    </li>
                    <li id="cite_note-4"><span class="mw-cite-backlink"><b><a href="#cite_ref-4">^</a></b></span> <span
                            class="reference-text"><span class="citation journal">Tsukiura, T.; Cabeza, R. (2008). "Orbifrontal and hippocampal contributions to memory for face-name associations: The rewarding power of a smile". <i>Neuropsychologia</i> <b>46</b> (9): 2310–2319. <a
                            href="/wiki/Digital_object_identifier" title="Digital object identifier">doi</a>:<a
                            rel="nofollow" class="external text"
                            href="http://dx.doi.org/10.1016%2Fj.neuropsychologia.2008.03.013">10.1016/j.neuropsychologia.2008.03.013</a>.</span><span
                            title="ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fen.wikipedia.org%3ASmile&amp;rft.atitle=Orbifrontal+and+hippocampal+contributions+to+memory+for+face-name+associations%3A+The+rewarding+power+of+a+smile&amp;rft.au=Cabeza%2C+R.&amp;rft.aufirst=T.&amp;rft.aulast=Tsukiura&amp;rft.au=Tsukiura%2C+T.&amp;rft.date=2008&amp;rft.genre=article&amp;rft_id=info%3Adoi%2F10.1016%2Fj.neuropsychologia.2008.03.013&amp;rft.issue=9&amp;rft.jtitle=Neuropsychologia&amp;rft.pages=2310%E2%80%932319&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.volume=46"
                            class="Z3988"><span style="display:none;">&#160;</span></span></span>
                    </li>

                </ol>
            </div>
        </div>
        <div class="span4">
            <blockquote>
                <p>Smiling is infectious You catch it like the 'flu.
                    When someone smiled at me today I started smiling too.</p>
                <br/>

                <p>I passed around the corner
                    And someone saw my grin,
                    And when he smiled I realized
                    I'd passed it on to him.</p>
                <br/>

                <p>I thought about that smile
                    Then realized its worth,
                    A single smile, just like mine,
                    Could travel round the earth.</p>
                <br/>

                <p>So, if you feel a smile begin,
                    Don't leave it undetected,
                    Let's start an epidemic quick
                    And get the world infected!</p>
                <br/>
                Keep the smile going by sending this on to a friend..
                Everyone needs a smile!
            </blockquote>
        </div>
    </div>
{% endblock %}