{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="span8">
        <h3>Smiles</h3>
    </div>
    <div class="span4">
        <blockquote>
        <p>Smiling is infectious You catch it like the 'flu.
            When someone smiled at me today I started smiling too.</p>
            <br/>
            <p>I passed around the corner
            And someone saw my grin,
            And when he smiled I realized
            I'd passed it on to him.</p>
            <br/>
            <p>I thought about that smile
            Then realized its worth,
            A single smile, just like mine,
            Could travel round the earth.</p>
            <br/>
             <p>So, if you feel a smile begin,
            Don't leave it undetected,
            Let's start an epidemic quick
            And get the world infected!</p>
            <br/>
            Keep the smile going by sending this on to a friend..
            Everyone needs a smile!
        </blockquote>
    </div>
</div>
{% endblock %}