{% extends "base.html" %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="main-text">
                <h1>Terms & Conditions</h1>

                <div id="leftline">
                    <h2>© The London Smile Campaign 2013. All rights reserved.</h2>

                    <h3>1. Definitions</h3>

                    <p>In the context of these terms and conditions, the following words shall have the following
                        meanings:</p>

                    <p>"The London Smile Campaign" means The London Smile Campaign, The London Smile Campaign is
                        planning to be a registered charity in England and Wales.</p>

                    <p>"the website" means any website under the ownership or control of The London Smile Campaign from
                        which a link has been created to these terms and conditions.</p>

                    <p>"the material" means all of the information, data, text, graphics, links or computer code
                        published on, contained or available on the website.</p>

                    <p>"User" means the individual, firm, company or organisation accessing this website or making an
                        order.</p>

                    <h3>2. Applicable terms and conditions</h3>

                    <p>The website is owned by The London Smile Campaign and any use made of this site (including
                        registrations and donations made via the website), are subject to these terms and conditions.
                        The London Smile Campaign may, at its sole discretion, modify or revise these terms and
                        conditions at any time by updating the text of this page.</p>

                    <h3>3. Use of the website</h3>

                    <p>Anyone is entitled to view any non-password protected parts of the website and to use for their
                        own purposes the information contained therein, provided:</p>

                    <p>3.1 it is used for information purposes only, for reproduction for personal use only and not for
                        reproduction on any other website or for commercial gain.</p>

                    <p>3.2 any links created to the website are notified to and approved by The London Smile Campaign
                        before they are created.</p>

                    <p>3.3 no part of the website is copied, stored in a retrieval system, or transmitted in any form or
                        by any means to any third party without the written permission of The London Smile Campaign.</p>

                    <h3>4. Copyright and trade marks</h3>

                    <p>4.1 Copyright in the material is owned by The London Smile Campaign or its content suppliers.
                        Unauthorised use of the material including reproduction, storage, modification, distribution or
                        republication without the prior written consent of The London Smile Campaign or, where
                        applicable, the respective copyright owner(s) is prohibited.</p>

                    <p>4.2 The names and logos of The London Smile Campaign and all related product and service names,
                        designs marks and slogans are the trade names, service marks or trade marks of The London Smile
                        Campaign and may not be used without the prior consent of The London Smile Campaign.</p>

                    <p>4.3 All works in the nature of databases attract database rights.</p>

                    <h3>5. Supporter declaration</h3>

                    <p>Some points to consider as a fundraising supporter of The London Smile Campaign:</p>

                    <p>5.1 I agree to organise fundraising activities as an independent supporter of The London Smile
                        Campaign.&#160;</p>

                    <p>5.2 I agree that any costs or risks that arise out of my fundraising activities are my
                        responsibility, including liabilities for injury or loss which may occur to me, my helpers or
                        guests.&#160;</p>

                    <p>5.3 I am aware that The London Smile Campaign’s insurance policy will not cover my fundraising
                        activities.&#160;</p>

                    <p>5.4 I will not do anything that threatens The London Smile Campaign’s reputation or name. If I
                        do, The London Smile Campaign has the right to ask me to cease fundraising on their behalf.&#160;</p>

                    <p>5.5 I understand The London Smile Campaign cannot support dangerous activities such as parachute
                        jumping.&#160;</p>

                    <p>5.6 I agree to pay all proceeds of any fundraising event to The London Smile Campaign within an
                        agreed timescale and will not deduct any costs unless agreed in writing with The London Smile
                        Campaign.&#160;</p>

                    <p>5.7 I agree to only use The London Smile Campaign branded materials and the The London Smile
                        Campaign name and logo for my fundraising activities.&#160;</p>

                    <p>5.8 I agree to use these in accordance with the The London Smile Campaign brand guidelines. I
                        consent that photographs taken during my fundraising activity may be used to publicise the work
                        of The London Smile Campaign generally.</p>

                    <h3>6. Disclaimer</h3>

                    <p>The website is intended to provide general information only and, as such, should not be
                        considered as a substitute for advice covering any specific situation. Users should seek
                        appropriate advice before taking or refraining from taking any action in reliance on any
                        information contained in this website. So far as permissible by law, The London Smile Campaign
                        does not accept any liability to any person relating to the use of any such information.</p>

                    <p>Whilst The London Smile Campaign has taken every precaution in compiling this site neither it nor
                        any contributors to the site can be held responsible for any action (or the lack thereof) taken
                        by any person or organisation wherever they shall be based, as a result, direct or otherwise, on
                        information contained in or accessed through this internet site.</p>

                    <h3>7. Target audience</h3>

                    <p>The website is intended for use by UK residents and only in relation to their activities within
                        the UK. It may be dangerous to apply any of the information on the website to activities outside
                        the UK.</p>

                    <p>The London Smile Campaign does not represent or warrant that the information accessible via the
                        website is accurate, complete or correct. The London Smile Campaign has no liability whatsoever
                        in respect of any use which you make of such information except in the case of personal injury
                        or death caused by the negligence of The London Smile Campaign.</p>

                    <p>The information provided on this website has not been written to meet individual requirements and
                        it is your sole responsibility to satisfy yourself prior to using the information in any way for
                        your purposes. Before making any decisions based on the information contained on the website,
                        you are strongly advised to refer to alternative, independent sources of information to
                        substantiate the basis for your decision.</p>

                    <h3>8. Warranty and indemnity</h3>

                    <p>The User warrants to The London Smile Campaign that it will not use the website, the material or
                        any part thereof for any purpose that is in contravention of any applicable law or regulation or
                        in a manner that will infringe the copyright, trademarks, service marks or other intellectual
                        property rights of third parties or violate the privacy, publicity or other personal rights of
                        others or in any defamatory, obscene, threatening, abusive or hateful manner. The User shall
                        indemnify The London Smile Campaign, its employees and agents, harmless against all claims,
                        liability, losses, damages and expenses including, without limitation, legal fees and costs
                        arising out of or incurred as a result of any claims made, or litigation brought, against The
                        London Smile Campaign, its employees and agents, as a result of the use by the User of the
                        website, the material or any part thereof for whatever purpose, to the fullest extent permitted
                        by law.</p>

                    <h3>9. Limitation of liability</h3>

                    <p>The London Smile Campaign hereby disclaims all warranties and conditions with regard to the
                        material and any goods or services supplied in relation to the website, whether express or
                        implied or statutory (including all implied warranties and conditions of merchantability and
                        fitness for a particular purpose). In no event shall The London Smile Campaign be liable for any
                        indirect, punitive, special, incidental, or consequential damages whatsoever even if The London
                        Smile Campaign has been advised of the possibility of damages including, without limitation,
                        damages for loss of use, data or profits arising out of or in any way connected with the use or
                        performance of the website, interruptions or delays to the website, the provision of or failure
                        to provide services, or for any information, material, goods and services obtained through the
                        website or otherwise arising out of the use of the website, whether based on contract, tort or
                        otherwise to the fullest extent permitted by law.</p>

                    <h3>10. Third party websites</h3>

                    <p>The website contains links to websites operated by parties other than The London Smile Campaign.
                        Such links are provided for the User's convenience only. The London Smile Campaign does not
                        control such websites, and is not responsible for their content. The London Smile Campaign's
                        inclusion of links to such websites does not imply any endorsement of the material on such
                        websites or any association with their operators. The User is solely responsible for evaluating
                        the accuracy and completeness of any information contained on the third party websites, and also
                        the value and integrity of any goods and services offered by such websites.</p>

                    <h3>11. Privacy and Data Protection</h3>

                    <p><a href="ssNODELINK/privacy-statement">Read our privacy statement in full</a></p>

                    <h3>12. Google Analytics</h3>

                    <p>Some of our websites use Google Analytics, a web analytics service provided by Google, Inc.
                        ("Google"). Google Analytics uses "cookies", which are text files placed on your computer, to
                        help the website analyse how users use the site.</p>

                    <p>The information generated by the cookie about your use of the website (including your IP address)
                        will be transmitted to and stored by Google on servers in the United States. Google will use
                        this information for the purpose of evaluating your use of the website, compiling reports on
                        website activity for website operators and providing other services relating to website activity
                        and internet usage. Google may also transfer this information to third parties where required to
                        do so by law, or where such third parties process the information on Google's behalf. Google
                        will not associate your IP address with any other data held by Google.</p>

                    <p>You may refuse the use of cookies by selecting the appropriate settings on your browser, however
                        please note that if you do this you may not be able to use the full functionality of this
                        website. By using this website, you consent to the processing of data about you by Google in the
                        manner and for the purposes set out above.</p>

                    <h3>13. Viruses</h3>

                    <p>Whilst The London Smile Campaign makes all reasonable attempts to exclude viruses from the
                        website it cannot ensure such exclusion and no liability is accepted for damage caused through
                        the downloading of viruses. Therefore, you are recommended to take all appropriate safeguards
                        before downloading information from the website.</p>

                    <h3>14. On-line Transactions</h3>

                    <p>The London Smile Campaign reserves the right to vary event registration fees and the prices of
                        any goods or services listed without notice. All event registrations and orders for goods or
                        services are subject to availability and The London Smile Campaign reserves the right to refuse
                        to accept any registration and to refuse to supply any goods or services to any individual.</p>

                    <h3>15. Encryption</h3>

                    <p>Although the website uses encryption security software in areas where on line payment details are
                        accepted, the security of information and payments transmitted via the Internet cannot be
                        guaranteed. Any loss incurred or sustained by any User who transmits information by means of
                        e-mail or other Internet links shall be borne solely and exclusively by such User and in no
                        event shall any such loss in whole or part be borne by The London Smile Campaign or it's
                        agents.</p>

                    <h3>16. Force majeure</h3>

                    <p>The London Smile Campaign shall not be held to be in breach of its obligations hereunder nor
                        liable to the User for any loss or damage which may be suffered by another party due to any
                        cause beyond its reasonable control including without limitation any act of God, fire, storm,
                        flood, lightening, disease, strike, trade dispute, act of terrorism, any act or omission of
                        government or regulatory bodies or communications operators.</p>

                    <h3>17. General</h3>

                    <p>17.1 If any provisions of these terms and conditions are held to be invalid or unenforceable, the
                        validity or enforceability of the remaining provisions shall not be affected.</p>

                    <p>17.2 These terms and conditions constitute the entire agreement between The London Smile Campaign
                        and the User and supercede all other (prior or contemporaneous) communications and proposals,
                        whether electronic or written, between the User and The London Smile Campaign.</p>

                    <p>17.3 Any failure of The London Smile Campaign to exercise or enforce any of its rights under
                        these terms and conditions shall not be deemed to be a waiver of any such rights or operate so
                        as to bar the subsequent exercise or enforcement or any such rights.</p>

                    <h3>18. Jurisdiction</h3>

                    <p>The terms and conditions and the use by the User of the website shall be governed by the laws of
                        England and Wales and the parties hereto submit to the exclusive jurisdiction of the English
                        courts in all disputes arising out of or relating to the website and/or any transactions made on
                        the website, or these terms and conditions.</p>
                </div>

                <h3>19 Photos Credits</h3>
                <p>The following is a list of the photos used on the website with their license.</p>

                <p>19.1. <a href="http://www.flickr.com/photos/gazeronly/129649817/">torbakhopper</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

                <p>19.2. <a href="http://www.flickr.com/photos/sharonkearns/4092888036/">~SharonLynn~</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a></p>

                <p>19.3. <a href="http://www.flickr.com/photos/zanotti/306544429/">Reportergimmi</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

                <p>19.4. <a href="http://www.flickr.com/photos/olivireland/2281588072/">OlivIreland</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a></p>

                <p>19.5. <a href="http://www.flickr.com/photos/eflon/4246570737/">eflon</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

                <p>19.6. <a href="http://www.flickr.com/photos/kyrre_gjerstad/8108842042/">Kyrre Gjerstad</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

                <p>19.7. <a href="http://www.flickr.com/photos/pinksherbet/4623811529/">Pink Sherbet Photography</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

                <p>19.8. <a href="http://www.flickr.com/photos/safari_vacation/6055437609/">SalFalko</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by-nc/2.0/">cc</a></p>

                <p>19.9. <a href="http://www.flickr.com/photos/calleephoto/5091703712/">KaylaKandzorra</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by/2.0/">cc</a></p>

                <p>19.10. <a href="http://www.flickr.com/photos/ghbremer/5618409285/">g.bremer *on hiatus again*</a> via <a
                        href="http://photopin.com">photopin</a> <a
                        href="http://creativecommons.org/licenses/by-nc-nd/2.0/">cc</a></p>
            </div>
        </div>
{% endblock %}